<nav>
    <ul>
        <li>
            <a routerLink="/counter">Exercice 1 : Counter</a>
        </li>
        <li>
            <a routerLink="/series">Exercice 2 : Séries </a>
        </li>
        <li>
            <a routerLink="/pipes">Exercice 3 : Pipes </a>
        </li>
        <li>
            <a routerLink="/librairie">Exercice 4+5 : Librairie </a>
        </li>
        <li>
            <a routerLink="/pokemon">Exercice 6+7+8 : Pokemon </a>
        </li>
        <li>
            <a routerLink="/pokedex">Exercice 9 : Pokedex ({{nbPokemon}} dans le pokedex)</a>
        </li>
    </ul>
</nav>